<ion-header>
  <ion-navbar dark>
    <ion-title (click)="menu()" padding><img src="images/logo.svg"/></ion-title>
    <ion-buttons start bind-hidden="!session">
      <button (click)="profile()">
        <ion-icon name='contact'></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
    <button (click)="search()">
      <ion-icon name='search'></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="blog home">
  <div class="row">
    <ion-grid>
      <ion-row responsive-md>
        <ion-col width-75 *ngIf="!show_tournament">
          <div class="row">
            <ion-card>
              <ion-card-header style="background-color:#493B55">
                <p class="text-center white">
                  <strong>
                    {{blog_title}}
                  </strong>
                </p>
              </ion-card-header>
              <ion-card-content>
                <div [froalaView]="blog_content" style="color:#000"></div>
              </ion-card-content>
            </ion-card>
          </div>

          <div class="row">
            <ion-grid>
              <ion-row responsive-md>
                <ion-col width-100 class="text-center">
                  <h2 class="text-center yellow strong">{{blog_earnings_ghc}} GHC (${{blog_earnings_dollar}})</h2>
                </ion-col>
              </ion-row>
              <ion-row responsive-md>
                <ion-col width-33 class="text-center">
                    <button padding primary large>
                      <ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>
                      Share
                    </button>
                </ion-col>
                <ion-col width-33 class="text-center">
                  <button padding favorite large (click)="vote()">
                    <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
                    Respek
                  </button>
                </ion-col>
                <ion-col width-33 class="text-center">
                  <button padding light large>
                    <ion-icon ios="ios-thumbs-down" md="md-thumbs-down"></ion-icon>
                    Report
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>

          </div>
          <div class="row" *ngIf="blog_category=='tournament'">
            <button block dark large (click)="show_tournament=1; get_tournament_players()">
              <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
              View Tournament
            </button>
          </div>
        </ion-col>
        <ion-col width-75 *ngIf="show_tournament==1">
          <div class="row">

            <div class="row" padding style="background-color:#2E1C41; border:5px solid #493B55;">
              <p class="text-center white">
                <strong>
                  {{blog_title}} Tournament
                </strong>
              </p>
                <h2 class="text-center yellow strong">Pot=
                {{blog_earnings_ghc}} GHC <br /><span style="font-size:11px">(${{blog_earnings_dollar}})</span></h2>
              <p class="text-center">
                <button padding favorite large (click)="vote()">
                  <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
                  Respek
                </button>
              </p>
            </div>
            <div class="row" padding>
              <h3 class="text-center">Players</h3>
              <ion-list>
              <ion-item-sliding *ngFor="let data of tournament_player_data.tounament_players">
                <ion-item>
                  <ion-avatar item-left>
                        <img src="{{data.user_avatar}}" style="width:100%; height:auto">
                      </ion-avatar>
                      <h2>{{data.user_name}} <strong>vs</strong> {{data.opponent_name}}</h2>
                      <h3>Win Streak: {{data.tournament_streak_wins}} | Loss Streak: {{data.tournament_streak_loss}}</h3>
                      <p>Win: {{data.tournament_game_wins}} | Loss: {{data.tournament_game_loss}} | twitch: {{data.user_twitch}} | Youtube: {{data.user_youtube}}</p>
                </ion-item>
                <ion-item-options side="left">
                  <button favorite>
                     <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon>
                    History
                  </button>
                </ion-item-options>
                <ion-item-options side="right">
                  <button dark *ngIf="data.opponent_name!='no opponent'" disabled="">
                     <ion-icon ios="ios-game-controller-b" md="md-game-controller-b"></ion-icon>
                    Challenge
                  </button>
                  <button dark *ngIf="data.opponent_name=='no opponent'" (click)="challenge(data.user_name,data.user_id)">
                     <ion-icon ios="ios-game-controller-b" md="md-game-controller-b"></ion-icon>
                    Challenge
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
            </div>

            <div class="row" padding *ngIf="user_in_tournament<1">
              <button block dark light large (click)="tournament_join()">
                 <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>
                Join
              </button>
            </div>
          </div>
          <div class="row text-center">
            <button  light large (click)="show_tournament=null">
              <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
              Back
            </button>
          </div>
        </ion-col>

        <ion-col width-25>
          <ion-card *ngIf="!show_tournament">
          <ion-card-header style="background-color:#F9D005">
            <p class="text-center strong">
              <strong>
                Available Reward
              </strong>
            </p>
          </ion-card-header>
          <ion-card-content>
            <h1 class="text-center strong" padding>
              {{platform_reward_ghc}} GHC
            </h1>
            <p class="text-center" class="strong">
              <span style="font-size:13px">value = ${{platform_reward_ghc_dollars}}</span>
            </p>

          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="show_tournament==1">
        <ion-card-header style="background-color:#FF0941">
          <p class="text-center strong white">
            <strong>
              Your Challenges
            </strong>
          </p>
        </ion-card-header>
        <ion-card-content padding>
          <h4 class="text-center" *ngIf="challenge_pending<1 && challenge_score_pending<1">
            No Pending Challenges
          </h4>
          <div class="row text-center" *ngIf="challenge_doc.date_challenge_score_confirmed==null && challenge_doc.player2_id>0">
            <span secondary class="strong">You have a challenge</span><br />
            <span secondary class="strong">from {{opponent_name}}</span><br />
            <span secondary class="strong">win streak: {{opponent_win_streak}} | loss streak: {{opponent_loss_streak}}</span><br />
            <span secondary class="strong">wins: {{opponent_wins}} | loss: {{opponent_loss}}</span><br />

            <button block favorite (click)="view()" *ngIf="challenge_pending>0">
              <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
              View
            </button>
            <button block favorite (click)="view()" *ngIf="challenge_score_pending>0">
              <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
              score game
            </button>
            <button block favorite (click)="view()" *ngIf="challenge_score_confirm_pending>0 && challenge_doc.game_scored_by==user_id">
              <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
              score confirm pending
            </button>
            <button block favorite (click)="view()" *ngIf="challenge_score_confirm_pending>0 && challenge_doc.game_scored_by!=user_id">
              <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
              confirm score
            </button>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="show_tournament==1">
      <ion-card-header style="background-color:#493B55">
        <p class="text-center white">
          <strong>
            Tournament rules
          </strong>
        </p>
      </ion-card-header>
      <ion-card-content>
          <div class="row">
              <ol style="color:#000; text-align:left" class="strong">
                <li>
                  Tournaments are FREE to play

                </li>
                <li>
                  Tournament pot is 90% of the post rewards

                </li>
                <li>
                  Tournament host earns 15% of the tournament pot

                </li>
                <li>
                  1st place earns 40% of remaining pot

                </li>
                <li>
                  2nd place earns 30% of remaining pot
                </li>
                <li>
                  3rd place earns 20% of remaining pot
                </li>
                <li>
                  4th place earns 10% of remaining pot
                </li>
                <li>
                  1st place MUST play 2nd place for their final win
                </li>
                <li>
                  break 1st places win streak and earn a % of the pot for that game
                </li>
                <li>
                  can't play the same gamer back to back
                </li>

              </ol>
          </div>
      </ion-card-content>

    </ion-card>
    <ion-card *ngIf="category=='tournament'">
    <ion-card-header style="background-color:#493B55">
      <p class="text-center white">
        <strong>
          Tournament Format
        </strong>
      </p>
    </ion-card-header>
    <ion-card-content>
        <div class="row">
            <p  padding style="text-align:left" class="strong">
              The Gamerholic tournament format is a king of the hill format.<br />
              1st player to win 7 games in a row, wins the tournament
            </p>

        </div>
    </ion-card-content>

  </ion-card>
        <ion-card>
          <ion-card-header style="background-color:#493B55">
            <p class="text-center white strong">
              <strong>
                Wallet
              </strong>
            </p>
          </ion-card-header>
          <ion-card-content>
              <div class="row">
                <ion-list inset>
                  <ion-item>
                    <h3 class="text-center strong" secondary>
                    {{user_ghc_balance}} GHC
                    </h3>
                    <p class="text-center" style="font-size:10px">
                      GHC Balance
                    </p>
                </ion-item>
                  <ion-item>
                    <h3 class="text-center strong" secondary>
                      ${{user_ghc_balance_dollars}}
                    </h3>
                    <p class="text-center" style="font-size:10px">
                      Account Value
                    </p>
                </ion-item>
                  <ion-item>
                    <h3 class="text-center strong" light>
                      <ion-icon ios="ios-thermometer" md="md-thermometer" light></ion-icon>
                      {{user_ghc_cold_reserves}} GHC
                    </h3>
                    <p class="text-center" style="font-size:10px">
                      cold reserves
                    </p>
                </ion-item>
                <ion-item>
                  <h3 class="text-center strong" secondary>
                    <ion-icon ios="ios-thermometer" md="md-thermometer" danger></ion-icon>
                    {{user_ghc_hot_reserves}} GHC
                  </h3>
                  <p class="text-center" style="font-size:10px">
                    hot reserves
                  </p>
                </ion-item>
                    <ion-item>
                      <h3 class="text-center strong" secondary>
                         <ion-icon ios="ios-game-controller-b" md="md-game-controller-b"></ion-icon>
                         <span *ngIf="user_power_level>1">
                           {{user_power_level}}
                         </span>
                        <span *ngIf="user_power_level<1">
                          0.00
                        </span>
                      </h3>
                      <p class="text-center" style="font-size:10px">
                        Gamerholic Power
                      </p>
                  </ion-item>
                    <ion-item>
                      <h2 class="text-center strong">1 GHC = {{platform_ghc_price}} <span style="font-size:10px">BTC</span></h2>
                  </ion-item>
                </ion-list>
              </div>
              <div class="row">
                <button  item-right favorite small>
                  <ion-icon ios="ios-return-right" md="md-return-right"></ion-icon>
                  Send GHC
                </button>
                <button danger item-left danger small>
                  Get GHC
                  <ion-icon ios="ios-return-left" md="md-return-left"></ion-icon>

                </button>
              </div>
          </ion-card-content>

        </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content>
