<ion-header>
  <ion-navbar dark>
    <ion-title (click)="menu()" padding><img src="images/logo.svg"/></ion-title>
    <ion-buttons start bind-hidden="!session">
      <button (click)="profile()">
        <ion-icon name='contact'></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
    <button (click)="search()">
      <ion-icon name='search'></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="blog-add home">
  <div class="row">
    <ion-grid>
      <ion-row responsive-md>
        <ion-col width-75>
          <div class="row">
            <ion-card  *ngIf="category">
              <ion-card-header style="background-color:#493B55">
                <p class="text-center white">
                  <strong *ngIf="category!='tournament'">
                    step 2: enter {{category}} story
                  </strong>
                  <strong *ngIf="category=='tournament'">
                    step 2: create a tournament
                  </strong>
                </p>
              </ion-card-header>
              <ion-card-content>
                <div class="row">
                  <ion-grid>
                    <ion-row responsive-sm>
                      <ion-col width-50 offset-25>
                          <ion-list>
                            <ion-item>
                              <ion-label floating>Title</ion-label>
                              <ion-input type="text" [(ngModel)]="blog_title" autocomplete="off" autocorrect="off" autocapitalize="off"></ion-input>
                            </ion-item>
                            <ion-item *ngIf="category=='tournament'">
                              <ion-label floating>Console</ion-label>
                              <ion-select [(ngModel)]="tournament_console">
                                   <ion-option value="xbox one">xbox one</ion-option>
                                   <ion-option value="PS4">PS4</ion-option>
                                   <ion-option value="PC">PC</ion-option>
                                 </ion-select>
                               </ion-item>
                            <ion-item *ngIf="category=='tournament'">
                              <ion-label floating>Game</ion-label>
                              <ion-input type="text" [(ngModel)]="tournament_game" autocomplete="off" autocorrect="off" autocapitalize="off"></ion-input>
                            </ion-item>
                          </ion-list>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                <div class="row" style="min-height:300px">
                  <div [froalaEditor]="options" [(froalaModel)]="blog_content">

                  </div>
                  <input [(ngModel)]="blog_content" type="hidden"/>
                </div>
              </ion-card-content>
            </ion-card>
            <p class="text-center" *ngIf="category">
              <button  favorite large padding (click)="submit()">
                <ion-icon ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon>
                submit
              </button><br />
              <button clear large (click)="category_set(null)">
                 <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
                back
              </button>
            </p>
            <ion-card  *ngIf="blog_content && category">
              <ion-card-header style="background-color:#796D81">
                <p class="text-center white">
                  <strong>
                    blog preview
                  </strong>
                </p>
              </ion-card-header>
              <ion-card-content>
                <div [froalaView]="blog_content"></div>
              </ion-card-content>
            </ion-card>

            <ion-card  *ngIf="!category">
              <ion-card-header style="background-color:#493B55">
                <p class="text-center white">
                  <strong>
                    submit gaming story/blog/tip/tutorials
                  </strong>
                </p>
              </ion-card-header>
              <ion-card-content style="padding-top:13px" *ngIf="!category">
                <h2 class="text-center strong" padding>
                  step 1: select category
                </h2>
                <ion-scroll scrollX="true"  class="item" style="margin-bottom:21px" *ngIf="!category">
                    <ion-row>
                      <ion-col width-25 (click)="category_set('live stream')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                          <p class="text-center">
                            <a (click)="category_set('tournament')">
                              Tournament
                            </a>
                          </p>
                      </ion-col>
                        <ion-col width-25 (click)="category_set('live stream')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">
                              <a (click)="category_set('live stream')">
                                Live stream
                              </a>
                            </p>
                        </ion-col>
                        <ion-col width-25 (click)="category_set('vr')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('vr')">
                                VR
                              </a>
                            </p>
                        </ion-col>
                        <ion-col width-25 (click)="category_set('lol')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('lol')">
                                LOL
                              </a>
                            </p>
                        </ion-col>
                        <ion-col width-25 (click)="category_set('starcraft')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('star craft')">
                                Starcraft
                              </a>
                            </p>
                        </ion-col>
                        <ion-col width-25 (click)="category_set('hearthstone')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('hearthstone')">
                                Hearthstone
                              </a>
                            </p>
                        </ion-col>
                        <ion-col width-25 (click)="category_set('ar')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('ar')">
                                A/R
                              </a>
                            </p>
                        </ion-col>
                        <ion-col width-25 (click)="category_set('super smash bro\'s')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('super smash bros')">
                                Super Smash
                              </a>
                            </p>
                        </ion-col>
                        <ion-col width-25 (click)="category_set('esports')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('esports')">
                                Esports
                              </a>
                            </p>
                        </ion-col>
                        <ion-col width-25 (click)="category_set('sports')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('sports')">
                                Sports
                              </a>
                            </p>
                        </ion-col>
                        <ion-col width-25 (click)="category_set('fighting')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('fighting')">
                                Fighting
                              </a>
                            </p>
                        </ion-col>
                        <ion-col width-25 (click)="category_set('mmo')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('mmo')">
                                MMO
                              </a>
                            </p>
                        </ion-col>
                        <ion-col width-25 (click)="category_set('card')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('card')">
                                Card
                              </a>
                            </p>
                        </ion-col>
                        <ion-col width-25 (click)="category_set('casino')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('casion')">
                                Casino
                              </a>
                            </p>
                        </ion-col>
                        <ion-col width-25 (click)="category_set('pokemon')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('pokemon')">
                                Pokemon
                              </a>
                            </p>
                        </ion-col>

                        <ion-col width-25 (click)="category_set('developers')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('developers')">
                                Developers
                              </a>
                            </p>
                        </ion-col>
                        <ion-col width-25 (click)="category_set('unity')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('unity')">
                                Unity
                              </a>
                            </p>
                        </ion-col>
                        <ion-col width-25 (click)="category_set('game development')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('game development')">
                                Game development
                              </a>
                            </p>
                        </ion-col>
                        <ion-col width-25 (click)="category_set('gamerholic')" style="background-color:#ECE7EE; margin:3px; font-size:10px" class="text-center">
                            <p class="text-center">

                              <a (click)="category_set('gamerholic')">
                                Gamerholic
                              </a>
                            </p>
                        </ion-col>

                    </ion-row>
                </ion-scroll>
              </ion-card-content>
            </ion-card>
          </div>

        </ion-col>
        <ion-col width-25>
          <ion-card *ngIf="category=='tournament'">
          <ion-card-header style="background-color:#493B55">
            <p class="text-center white">
              <strong>
                Tournament rules
              </strong>
            </p>
          </ion-card-header>
          <ion-card-content>
              <div class="row">
                  <ol style="color:#000; text-align:left" class="strong">
                    <li>
                      Tournaments are FREE to play

                    </li>
                    <li>
                      Tournament pot is 90% of the post rewards

                    </li>
                    <li>
                      Tournament host earns 15% of the tournament pot

                    </li>
                    <li>
                      1st place earns 40% of remaining pot

                    </li>
                    <li>
                      2nd place earns 30% of remaining pot
                    </li>
                    <li>
                      3rd place earns 20% of remaining pot
                    </li>
                    <li>
                      4th place earns 10% of remaining pot
                    </li>
                    <li>
                      1st place MUST play 2nd place for their final win
                    </li>
                    <li>
                      break 1st places win streak and earn a % of the pot for that game
                    </li>
                    <li>
                      can't play the same gamer back to back
                    </li>

                  </ol>
              </div>
          </ion-card-content>

        </ion-card>
        <ion-card *ngIf="category=='tournament'">
        <ion-card-header style="background-color:#493B55">
          <p class="text-center white">
            <strong>
              Tournament Format
            </strong>
          </p>
        </ion-card-header>
        <ion-card-content>
            <div class="row">
                <p  padding style="text-align:left" class="strong">
                  The Gamerholic tournament format is a king of the hill format.<br />
                  1st player to win 7 games in a row, wins the tournament
                </p>

            </div>
        </ion-card-content>

      </ion-card>

      </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>
